body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 18%, rgba(9,9,121,1) 35%, rgba(255,0,134,1) 76%);
}

header {
    border: 6px solid rgb(103, 17, 216);
    border-radius: 25px;
    text-align: center;
    color: #010706;
    font-style: oblique;
    background: rgb(191,39,176);
    background: linear-gradient(90deg, rgba(191,39,176,1) 0%, rgba(96,31,115,0.8939950980392157) 50%, rgba(0,0,0,0.8911939775910365) 100%);
}

.start-game-button {
    background-color: #010706;
    display: flex;
    margin-left: 47.5%;
    margin-top: 10px;
}

.input-for-value {
    display: none;
    margin-left: 45%;
    margin-top: 10%;
}

.input-for-value p {
    text-align: center;
}